body{
    background-image: url("https://c1.wallpaperflare.com/preview/965/739/590/ishigaki-island-church-wedding-stained-glass.jpg");
    background-position: center;
    background-size: cover;
}
  